{% extends 'base.html' %}


{% block content %}
  {% load static %}

<div class="container-fluid">
    <div class="row center">
        <div class="col"></div>
        <div class="col">
            <h2 id="error"> {{mensaje}}  </h2> 
            <!--div class="d-flex justify-content-center"-->
                <h4>LOGIN</h4>
                <form action="/home/" method="POST">
                    {% csrf_token %}
                    <label for="correo">Correo</label><br>
                    <input type="text" id="correo" name="correo" placeholder="ejemplo@mail.com"><br>
                    <label for="contrasena">Contraseña</label><br>
                    <input type="password" id="contrasena" name="contrasena" placeholder="************"><br><br>
                    <br>
                    <input type="submit" name="loggedin" id="loggedin" value="Enviar">
                </form> 
                <br>
                ¿Aún no tienes un usuario?
                <br>
                <form action="/registro/" method="GET">
                    <input type="submit" name="registro" id="registro" value="Registro">
                </form>
                  
            <!--/div-->
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock content %}  